.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 40px;
}

.about-content {
    max-width: 55%;
}

.about-content h1 {
    color: #008080; 
    font-weight: 900;
    margin-bottom: 20px;
}

.about-content p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.about-image img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    max-width: 300px; 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.mission-vision {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.mission-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 5px solid rgba(255, 102, 0, 0.918);
    border-radius: 8px;
    flex: 1;
}

.mission-box h2 {
    color: #008080;
    margin-top: 0;
}

.mission-box ul {
    padding-left: 20px;
    list-style: none;
}

.mission-box ul li {
    margin-bottom: 8px;
    color: #333;
}