body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signin-box {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #008080;
}

.instructions {
    font-size: 14px;
    color: #444;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-weight: 600;
    margin-top: 10px;
}

input {
    padding: 10px;
    border: 2px solid #008080;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.btn {
    background: rgba(255, 102, 0, 0.918); 
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.forgot-password {
    display: block;
    text-align: right; 
    font-size: 14px;
    color: #008080; 
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: rgba(255, 102, 0, 0.918); 
}

.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #008080;
    font-weight: bold;
}